<!doctype html>
<html lang="es">
<body>
<nav>
    <ul>
        <li><a href="../Main/mainPage.jsp">Inicio</a></li>
        <li><a href="../Main/userProfile.jsp">Perfil de Usuario</a></li>
        <li><a href="../Forms/addFilm.html">Añadir Película</a></li>
        <li><a href="../Main/userProfile.jsp">Ver Favoritos</a></li>
        <li>
            <form action="/search" method="post">
                <input type="text" name="buscarPelicula" id="buscarPelicula">
            </form>
        </li>
    </ul>
</nav>
</body>
</html>
<script src="../Resources/JS/functions.js" />