<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LoveFilms</title>
</head>
<body>
<img class="logo" src="../Resources/Images">
<h1 class="tittle">JFILMS WEB</h1>
<div class="formulogin">
    <form action="session" method="post">
        <input id="usuario" name="nombre" type="text" />
        <input id="password" name="pass" type="password"/>
        <button class="btn_login" type="submit">ENTRAR</button>
        <a href="registerUser.html">¿Aún sin cuenta? Regístrate aquí</a>
    </form>
</div>
</body>
</html>